* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    background: transparent;
}

body {
    overflow: hidden;
    font-family: "SF Pro Display", "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Siemreap", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
